**Write a Pandas program to implement following operation**

In [3]:
import numpy as np
import pandas as pd

**1) To convert a NumPy array to a Pandas series**

In [35]:
a=np.array([24,12,20,10])
print("Array :",a)

x=pd.Series(a)
print("Series :\n",x)

Array : [24 12 20 10]
 Series :
 0    24
1    12
2    20
3    10
dtype: int64

**2) To convert the first column of a DataFrame as a Series**

In [29]:
dict ={
    "Name": ['Jiya','Riya'],
    "City": ['Porbandar', 'Porbandar']
              
}

In [30]:
df=pd.DataFrame(dict)

In [31]:
df

   Name       City
0  Jiya  Porbandar
1  Riya  Porbandar

In [32]:
s= pd.Series(df['Name'])

In [34]:
s

0    Jiya
1    Riya
Name: Name, dtype: object

**3) To create the mean and standard deviation of the data of a given
Series**

In [36]:
x

0    24
1    12
2    20
3    10
dtype: int64

In [38]:
print("Means :",x.mean())
print("Varience :",x.std())

Means : 16.5
Varience : 6.60807586719967

**4) To sort a given Series**

In [41]:
print("Series Before Sorting :\n",x)

s1=x.sort_values()
print("Series After Sorting :\n",s1)

Series Before Sorting :
 0    24
1    12
2    20
3    10
dtype: int64
Series After Sorting :
 3    10
1    12
2    20
0    24
dtype: int64